@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(41, 41, 120);    
    color: white;

}
.big-div {
    justify-content: center;
    border: 0.2px solid black;
    height: fit-content;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.choose {
    margin-top: 80px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

.choices {
    display: flex;
    justify-content: space-between;
    border: 0.1px solid black;
}

button {
    background-color: green;
    color:white;
    border-radius: 4px;
    padding: 4px;
}

.button:hover {
    color: white;
    background-color: cornflowerblue;
}

.moves {
    margin-left: 90px;
    
}
.colomn-box {
    border: 0.5px solid black;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    min-height: 100px;
    padding: 1rem;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 5px purple;
}

/* .colomn-box div div {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(62, 62, 218);
    margin-bottom: 0.5rem;
    color: rgb(205, 205, 205);
} */


.player-choice {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.computer-choice {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.score {
    display: flex;
    font-size: 10px;
    margin-bottom: 10px;
}



.title {
    color: white;
    font-weight: bold;
    border-bottom: 2px solid yellow;
    margin-bottom: 0.5rem;
}

.columndiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column1,.column2,.column3 {
    display: flex;
    flex-direction: column;
}